* {
  outline: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
}
button {
  border: none !important;
}
a {
  border: none;
  text-decoration: none !important;
  cursor: pointer !important;
}
li {
  text-decoration: none !important;
  list-style: none !important;
}
tr {
  font-size: 17px;
  font-family: "Muli";
  color: #000;
}
td {
  border: #fff 2px solid;
}
table {
  background-color: #f3e7a2;
}
th {
  border: 2px solid #fff !important;
}
table.exam {
  background-color: #f0eedb42;
}
.theadexam tr th {
  border: 1px solid#58577f !important;
}
.tbodyexam tr th {
  border: 1px solid #58577f !important;
}
.tbodyexam td {
  border: 1px solid #58577f !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
  background: url("http://eurasianspellingbee.org/themes/default/images/hero_1.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.wrapper::before {
  position: absolute;
  background: #365e66;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #365e66;
  z-index: 2;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header_logo {
  flex: 0 0 150px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header_logo img {
  max-width: 100%;
  display: block;
}
.header_burger {
  display: none;
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}
.header_list li {
  margin: 0px 0px 0px 20px;
}
.header_list li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer !important;
  font-family: "Muli";
  font-weight: 300;
}
.header_list li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(5px) scale(0);
  transition: all 0.2s;
}
.header_list li a:hover::after {
  text-decoration: none;
  transform: translateY(5px) scale(1);
}
.header_list li.active_a a::after {
  background-color: #fff;
  transform: translateY(5px) scale(1);
}

.section-home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.section-home_header {
  margin: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title h1 {
  font-size: 40px;
  font-family: "Muli";
  font-weight: 700;
  color: #fff;
}
.home-title_text {
  margin-top: 50px;
}
.home-title_text span {
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  font-family: "Muli";
}
.section-home_block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================================================================== */
.site-section {
  margin-top: 8rem;
}

.all-message {
  margin-top: 50px;
  margin-bottom: 50px;
}

.message-title {
  display: block;
  text-align-last: left;
  margin-bottom: 35px;
}
.message-title h2 {
  font-size: 5rem;
  font-family: "Muli";
  font-weight: 700;
  color: #000;
}
.message-title p {
  font-size: 17px;
  text-align: left;
  font-family: "Muli";
}

/* Message Us End*/
/* Forms */

.form-block {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  padding: 40px;
  background: #fff;
  border-radius: 7px;
}
.form-block h3 {
  font-size: 18px !important;
}
.form-group {
  width: 300px;
}
.login {
  border-radius: 25px;
}

.field-loginform {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0px;
}
.field-loginform img {
  width: 105px;
  height: 49px;
  margin-right: 20px;
}
.help-block-error {
  color: red;
  font-size: 15px;
  font-family: "MUli";
  margin: 0;
}
button.btn {
  display: block;
  width: 40%;
  text-transform: uppercase;
  font-family: "MUli";
  font-size: 12px;
  font-weight: 900;
  padding: 14px 30px;
  border-radius: 30px;
  letter-spacing: 5px;
  cursor: pointer;
  outline: none !important;
}
button.btn_message2 {
  margin-top: 3rem;
  font-family: "MUli";
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 90px;
  letter-spacing: 5px;
  cursor: pointer;
}

/* Forms End */

/* footer */

.footer-item {
  margin-top: 7rem;
}
.footer-title h3 {
  font-weight: 900;
  font-size: 15px;
  margin-bottom: 35px !important;
}
.footer-list ul {
  padding: 0;
  line-height: 40px;
}
.footer-list ul li {
  font-size: 17px;
  font-family: "Muli";
  font-weight: 300;
}
.footer-menu_list {
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-family: "Muli";
  line-height: 40px;
}
.footer-menu_list li a {
  color: #7971ea;
}
.footer-menu_list li a:hover {
  color: #7c7c7d;
}
.footer-title p {
  font-size: 16px;
  font-family: "Muli";
  font-weight: 300;
  line-height: 2;
}
.footer-form {
  margin-top: 30px;
}
.footer-input {
  display: flex;
}

.footer-input input {
  display: flex;
  border-radius: 0px;
  border-color: #7971ea;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control {
  height: 48px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.form-control:active,
.form-control:focus {
  border-color: #7971ea;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.footer-copy {
  border-top: 1px solid#d9dbdb;
  margin-top: 25px;
}
.elpc {
  margin: 30px 0;
}
.elpc p {
  font-size: 14px;
  font-family: "Muli";
  font-weight: 300;
  letter-spacing: 3px;
}

/* About Us */

.site-section {
  background: #ffffff;
}
.section-title {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.section-title h2 {
  margin-top: 4rem;
  font-size: 5rem;
  color: #000;
  font-weight: 900;
}
.section-parag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.section-parag p {
  font-size: 19px;
  color: #000;
}
.div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-img {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.section-img img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* registration */

.site-section_registration {
  background-color: #f8f9fa;
  margin-top: 5rem;
}

.site-section_registration h2 {
  color: #000;
}

.section-city {
  margin-top: 20px;
}
.custom-icon-wrap {
  margin: 25px 0;
}
.custom-icon-wrap h3 {
  font-size: 18px;
  color: #7971ea;
}

/* Home Page */

.section-home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-home_header {
  margin: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-title {
}
.home-title h1 {
  font-size: 40px;
  font-family: "Muli";
  font-weight: 700;
  color: #fff;
}
.home-title_text {
  margin-top: 50px;
}
.home-title_text span {
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  font-family: "Muli";
}
.section-home_block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Results */

/* Contact us Start */
.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.contact-title h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 5rem;
  color: #000;
  font-weight: 900;
}
.contact-title img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact us End */

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
} */
